<!DOCTYPE html>
<html lang="enl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

        <ul th:fragment="navbar">
            <li><a th:href="@{/home}">WTIX</a></li>
            <li><a th:href="@{/movie}">Movies</a></li>
            <li><a th:href="@{/cinema}">Cinemas</a></li>
            <li><a th:href="@{/ticket}">Tickets</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>

`
</body>
</html>
